# Object files
*.o

# Assembler files
*.asm

# Generated ANTLR4 files
*Lexer.h
*Lexer.cpp
*Parser.h
*Parser.cpp
*.interp
*.tokens
*.java
AslBaseVisitor.cpp
AslBaseVisitor.h
AslVisitor.cpp
AslVisitor.h

# Dependency files
_antlr
_deps

# Program binary
asl/asl
examens/*/asl/asl

# Generated subdirectory (if used)
gen/

# IDE configurations
.vscode
